<template>
    <div :class="{ 'openSidebar' : showMenu}">
        <div class="sidebar" >
            <header>
                <img alt="Vue logo" src="../assets/images/logo.png">
            </header>
            <b-menu>
                <ul>
                    <li><router-link @click.native="hideMenuMobile" :to="{ name: 'dashboardHome'}"><b-icon size="is-small" icon="map"/> Mapa</router-link></li>
                    <li v-if="hasCurrentRent"><router-link @click.native="hideMenuMobile" :to="{name: 'rental'}"><b-icon size="is-small" icon="car-side"/>Aluguer</router-link></li>
                    <li><router-link @click.native="hideMenuMobile" :to="{ name: 'payments'}"><b-icon size="is-small" icon="money-check-alt"/> Pagamentos</router-link></li>
                    <li><router-link @click.native="hideMenuMobile" :to="{ name: 'cardsList'}"><b-icon size="is-small" icon="credit-card"/>Cartões</router-link></li>
                    <li><router-link @click.native="hideMenuMobile" to="/logout"><b-icon size="is-small" icon="sign-out-alt"/>Logout</router-link></li>
                </ul>
            </b-menu>
        </div>
        <div class="view">
            <router-view @rent="setRent" @click.native="hideMenuMobile" style="width: 100%; height: 100%" name="auth-view"></router-view>
        </div>
        <div class="sidebar-btn" @click="toggle">
            <span></span>
            <span></span>
            <span></span>
            <!--<b-icon
                icon="menu"
                size="is-medium"
            />-->
        </div>
        
    </div>
</template>


vue <script lang="ts">
import Vue from 'vue'
import { RentalService } from '../services/RentalService';
export default Vue.extend({

    data() {
        return {
            showMenu:  window.innerWidth > 1024 ? true : false,
            hasCurrentRent: false
        }
    },
    created() {
        this.checkCurrentRent();
    },
    methods: {
        setRent( hasRent: boolean): void {
            this.hasCurrentRent = hasRent;
        },

        toggle() : void {
            this.showMenu = !this.showMenu;
        },

        hide() : void {
            this.showMenu = false;
        },

        hideMenuMobile(): void{
            if(window.innerWidth <= 1024) {
                this.hide();
            }
        },
        checkCurrentRent() {
            RentalService
            .getInstance()
            .getCurrent().subscribe((data,err) => {
                if(!err && data) this.hasCurrentRent = true;
            })
        }
    }
})
</script>

<style lang="scss" scoped>

$sidebar-width: 300px ;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mobileSidebarSize : calc(100vw - 60px);

.avatar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
}

.is-active {
    color: #fbb040 !important;
}

.sidebar {

    .icon {
        position: relative;
        top: 0px;
    }

    header {
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(251,176,64,1) 0%, rgba(251,223,64,1) 90% );
        padding-bottom:10px;
        margin-bottom:0px;

        &>img {
            padding-top: 20px ;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 70px;

         
        }

    }
    ul {
        list-style-type: none;

        li {

            border-top: solid 1px rgba($color: #000000, $alpha: .1);
            &:last-child {
                    border-bottom: solid 1px rgba($color: #000000, $alpha: .1);
            }

            a {
                display: block;
                height: 100%;
                width: 100%;
                font-size: 16px;
                padding-left: 20px;
                color: black;

               
                line-height: 64px;


                &:hover {
                    padding-left: 30px;
                    transition: 0.5s ease;
                }
              
            }
            span {
                margin-right: 20px;
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: -$sidebar-width;
    bottom: 0;
    width: $sidebar-width;
    background-color:  #efefef;
    border-right:  1px solid rgba($color: #000000, $alpha: .1);
    transition: 0.2s ease;
    color: black;
    background-color: white;

    @media only screen and (max-width: 769px) {
        left:  calc(-100vw - 60px);
        width:  $mobileSidebarSize;
         
    }

}

.view {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s ease;
    overflow: auto;

     

}

.openSidebar .sidebar{
    left: 0px;
    
}

.openSidebar .sidebar-btn {
    left: $sidebar-width + 10px;

    @media only screen and (max-width: 769px) {
        left: calc(100vw - 55px) ;
         
    }

    @media only screen and (min-width: 769px) {
      display: none;
    }

}

.openSidebar .view {
   left: $sidebar-width;

    @media only screen and (max-width: 769px) {
        left: $mobileSidebarSize ;
         
    }

    @media only screen and (min-width: 769px) {
       right:0;
       width: calc(100% - 300px) !important;
    }

}

.sidebar-btn {
    position: fixed;
    left: 10px;
    bottom: 10px;
    border: rgba($color: #000000, $alpha: .1) solid 1px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    transition: 0.2s ease;
    cursor: pointer;

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%), #fdfbfb;

    &:hover {
        background: #ebedee ;
    }
}

.sidebar-btn span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;

    transition: 0.5s ease-out;

    &:nth-child(1) {
        top: 19px;
    }

    &:nth-child(2) {
        top: 29px;

    }

    &:nth-child(3) {

       top: 24;
    }
}

.openSidebar .sidebar-btn span {

    &:nth-child(1) {
        transform: translateX(-50%) rotate(45deg);
        left: 50%;
        top: 24px;
    }

    &:nth-child(2) {
       transform: translateX(-50%) rotate(-45deg);
       left: 50%;
       top: 24px;
    }

     &:nth-child(3) {
        opacity: 0;
       
    }
}

</style>