<template>
  <div class="view-container columns is-centered is-gapless">
    <div class="column is-11-mobile is-4">
      <img alt="Abelhinha" id="logo" src="../assets/images/logo.png" />

      <div class="box">
        <h1 class="has-text-centered subtitle is-4">Entre na sua conta</h1>
        <form @submit.prevent="login">
            <b-field
            :type="{'is-danger': errors.has('email')}"
            :message="errors.first('email')"
            >
                <b-input
                    v-model="email"
                    placeholder="E-mail"
                    name ="email"
                    icon="envelope"
                    size="is-medium"
                    @keyup.enter.native="login"
                    v-validate="'required|email'"
                />
            </b-field>
            <b-field
            :type="{'is-danger': errors.has('password')}"
            :message="errors.first('password')"
            >
                <b-input
                    v-model="password"
                    name="password"
                    placeholder="Password"
                    icon="lock"
                    type="password"
                    size="is-medium"
                    password-reveal
                    v-validate="'required|min:6'"
                />
            </b-field>
            <br />
            <div class="is-clearfix">
            <b-button type="is-primary" native-type="submit" size="is-medium" class="is-pulled-right">Entrar</b-button>
            </div>
        </form>
      </div>
      <b-button
        size="is-large"
        type="is-primary-inverted"
        tag="router-link"
        to="/register"
        expanded
      >Registar</b-button>
    </div>
  </div>
</template>



<script>

/**
 * 
 * @todo Converter para TS
 * @todo Função Remember Me
 */

// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import { AuthService } from "@/services/Auth";
import { StorageService } from "@/services/StorageService";


export default {
  name: "login",
  components: {},
  metaInfo: {
    title: "Abelhinha - Dashboard Login"
  },
  methods: {
    login: function() {

      const auth = AuthService.getInstance();
      const storage = StorageService.getInstance();

      this.$validator.validateAll().then((result) => {

          

        if(!result) return;

        this.errors.clear();

        auth.authenticate(this.email, this.password)
        .subscribe((data, err) => {
            if (err) {
            let message;

            if (err.data.message == "INVALID_USER") {
                message = "Dados inválidos!";
            } else if (err.data.message == "INVALID_PASSWORD") {
                message = "Password errada!";
            } else {
                message = "Ocorreu um erro!";
            }

            this.$buefy.snackbar.open({
                type: "is-danger",
                message: message,
                queue: "false",
                position: "is-bottom"
            });
            }

            if (data.email && data.token) {
              storage.setVal("_token", data.token);
              this.$router.push("/dashboard")
            }
        });
          
      })


      
    },

  },
  data: function() {
    return {
      email: "",
      password: ""
    };
  }
};
</script>


<style lang="scss" scoped>
.login-container {
  width: 600px;
}

#logo {
  display: block;

  margin: 50px auto;
}

.view-container {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(251, 176, 64, 1) 0%,
    rgba(251, 223, 64, 1) 90%
  );
  display: flex;
  justify-content: center;
}
</style>