<template>
    <div class="view-container columns is-centered is-gapless">
        <div class="column is-11-mobile is-6-tablet is-4">
            <img alt="Abelhinha" id="logo" src="../assets/images/logo.png" />
            <div class="box">
                <h1 class="subtitle has-text-centered">Registar</h1>
                <br />
                <form @submit.prevent="register">
                    <b-field label="Nome"
                        :type="{'is-danger': errors.has('name')}"
                        :message="errors.first('name')"
                    >
                        <b-input name="name" v-model="name" placeholder="Introduza o seu nome. e.g: António José" v-validate="'required'"></b-input>
                    </b-field>
                    <b-field label="Email"
                        :type="{'is-danger': errors.has('email')}"
                        :message="errors.first('email')"
                    >
                        <b-input name="email"  v-model="email" placeholder="Introduza o seu email. e.g: antonio@exemplo.com" v-validate="'required|email'"></b-input>
                    </b-field>
                    <b-field label="Password"
                        :type="{'is-danger': errors.has('password')}"
                        :message="errors.first('password')"
                    >
                        <b-input name="password" v-model="password" type="password" placeholder="Introduza a sua password" password-reveal v-validate="'required|min:6'" ref="password"></b-input>
                    </b-field>
                    <b-field label="Confirmar password"
                        :type="{'is-danger': errors.has('cpassword')}"
                        :message="errors.first('cpassword')"
                    >
                        <b-input name="cpassword" v-model="cpassword" type="password" placeholder="Confirme a sua password" password-reveal v-validate="'required|confirmed:password'"></b-input>
                    </b-field>

                    <b-field label="Carta de Condução e Selfie"
                        :type="{'is-danger': errors.has('upload')}"
                        :message="errors.first('upload')"
                    >
                        <section>
                            <p>Tire foto da sua carta de condução (frente e verso) e uma selfie e faça upload.</p><br>
                            <b-upload
                                v-model="upload"
                                multiple
                                drag-drop
                                accept="image/gif,image/jpeg"
                                class="uploadControl"
                                name="upload"
                                v-validate="'required'"
                                ref="files"
                            >
                                <section class="section">
                                <div class="content has-text-centered">
                                    <p>
                                        <b-icon icon="upload" size="is-large"></b-icon>
                                    </p>
                                    <p>Arraste as fotos da sua carta de condução (frente e versão) e selfie ou clique para fazer upload.</p>
                                </div>
                                </section>
                            </b-upload>
                        </section>
                    </b-field>
                    <div class="tags">
                        <span v-for="(file, index) in upload"
                            :key="index"
                            class="tag is-primary" >
                            {{file.name}}
                            <button class="delete is-small"
                                type="button"
                                @click="deleteUpload(index)">
                            </button>
                        </span>
                    </div>

                    <div class="is-clearfix">
                        <b-button type="is-primary" native-type="submit" size="is-medium" class="is-pulled-right" >Registar</b-button>
                    </div>
                </form>





            </div>
            <br>
        </div>
    </div>
</template>


<style lang="css" scoped>
.uploadControl {
    width: 100%;
    display:block;
}
.view-container {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(251, 176, 64, 1) 0%,
    rgba(251, 223, 64, 1) 90%
    
  );
  display: flex;
  justify-content: center;
}

#logo {
    display: block;

    margin: 50px auto;
}
</style>


<script lang="ts">
import Vue from 'vue'
import { UserService } from "@/services/UserService";
import { StorageService } from '../services/StorageService';

export default Vue.extend({
    
    metaInfo: {
        title: "Abelhinha - Registo"
    },

    data() {
        return {
            name : "",
            email: "",
            password: "",
            cpassword: "",
            upload : []

        }
    },

    methods: {
        deleteUpload(index : number) {
            this.upload.splice(index, 1)
        },

        getFormData() : FormData {
            let data = new FormData();

            data.append("Username", this.name);
            data.append("Email", this.email);
            data.append("Password", this.name);

            this.upload.forEach((val , index) => {
                data.append(`Files`, val);
            })

            return data;
        },

        register : function() {
            const storage = StorageService.getInstance();

            this.$validator.validateAll().then((result : any) => {
                if(!result) return;

                UserService
                    .getInstance().
                    register(this.getFormData())
                    .subscribe((data: any, err: any) => {
                        if(err) return;

                        if(data.email && data.token) {
                            this.$buefy.toast.open("Utilizador Registado");
                             storage.setVal("_token", data.token);
                            this.$router.push("/dashboard")
                        }
                });

            });
        }
    }
})
</script>