<template>
    <div class="view">
        <div v-if="car">
            <h1 class="subtitle" >{{car.brand}} {{car.model}}</h1>

            <div class="container-fluid">
                <div class="columns">
                    <div class="column is-one-quarter-desktop">
                        <img class="car-img" :src="car.image">
                    </div>
                    <div class="column">
                        <p><strong>Matricula: </strong> {{car.license}}</p>
                        <p><strong>Combustivel: </strong> {{car.fuelType}}</p>
                        <p><strong>Lugares:</strong> {{car.seats}}</p>
                        <p><strong>Cor:</strong> {{car.color}}</p>
                        <p><strong>Potência:</strong> {{car.horsePower}}cv</p>
                        <p>Preço/min: <b-tag size="is-medium"> {{car.rentPrice}}€</b-tag></p>
                    </div>
                </div>
            </div>
            <div class="is-pulled-right buttons">
                <b-button @click="goBack">Voltar</b-button>
                <b-button type="is-primary" @click="beginRent(car.id)">Alugar</b-button>
            </div>
            <l-map :options="mapOptions" style="height: 200px; width: 100%" ref="map">
                <l-tile-layer :url="url"></l-tile-layer>
                <l-marker 
                    :v-if="car" 
                    :lat-lng="toLatLang(car.position.latitude, car.position.longitude)"
                    
                >        
                    <l-icon
                        :icon-size="[27,32]"
                    >
                        <img src="@/assets/images/Abelha32.png" alt="">
                    </l-icon>
                </l-marker>
            </l-map>
            <br>
        </div>
    </div>
    
</template>

<style lang="scss" scoped>
    .car-img {
        border-radius: 10px;
    }

    .buttons {
        margin-bottom: 10px;
    }

    .view {
        overflow-x: hidden;
        padding: 0 10px;

    }
</style>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {VehicleService, VehicleModel} from '@/services/VehicleService'
import { LocationService } from "@/services/LocationService";
import { RentalService } from "@/services/RentalService";
import {LMap, LTileLayer, LMarker, LIcon} from 'vue2-leaflet';
import { LatLng, LatLngTuple } from 'leaflet';

@Component({
    data() {
        return {
            car : null,
            url: 'https://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga',
            address : null,
            mapOptions: {
                zoomControl: false,
                dragging: false,
                zoom: 18,
                boxZoom: false,
                doubleClickZoom: false,
                scrollWheelZoom: false
            }
        }
    },
    metaInfo : {
        title : "Abelhinha - Carro"
    },
    components : {
        LMap,
        LTileLayer,
        LIcon,
        LMarker
    }
})
export default class Car extends Vue {

    car : VehicleModel;

    goBack() {
        this.$router.back();

    }
    created() {


        VehicleService
            .getInstance()
            .get(Number(this.$route.params.id))
            .subscribe((data, err) => {
               if(err) {
                   return;
               } else {
                   console.log(data);
                   this.car = data;
                   this.goTo(this.car.position['latitude'], data.position['longitude'])
               }

               
                            
            })
    }

    getAddress(lat: number, long: number) : void  {
        LocationService.getInstance().getAddressFromCoords(0,0);
    }

    toLatLang(latitude: number, longitude: number) : LatLngTuple {
      return [latitude, longitude];
    }

    goTo(lat: number, long: number) {
        this.$nextTick(() => {
            (this.$refs.map as any)['mapObject'].panTo([lat,long]);
        });
    }

    beginRent(car: number) {
        RentalService
        .getInstance()
        .startRent(car)
        .subscribe((isRented, err) => {
            if(err) {
                this.$buefy.dialog.alert("Ocorreu um erro ao alugar o veículo.")
            }

            if(isRented) {
                this.$emit("rent", true);
                this.$router.push("/rent");
            }

        })
    }


}


</script>