<template>

    <div style="text-align: center;">
            
        <div class="container">
            <Card @card="updateLittleCard" v-bind:flipped="flipped" v-bind:name="name" v-bind:card_number="card_number" v-bind:expiration_date="expiration_date" v-bind:security_code="security_code" />
        </div>
        <br>

        <div style="display: inline-block;">
            <CardForm v-bind:image="card_image" @flipFront="flipFront" @updateCard="updateCard" @name="showName" @card_number="showCardNumber" @expiration_date="showExpirationDate" @security_code="showSecurityCode"/>
        </div>

    </div>


</template>

<script lang="ts">

import Vue from 'vue'

import CardForm from "./CardForm.vue";
import Card from "./Card.vue";


export default Vue.extend({

  props: {
      
  },

  data () {
    return {
        name: "______ ______",
        card_number: "____ ____ ____ ____",
        icon: "empty.svg",
        card_image: "empty.svg",
        lightcolor: "lightcolor grey",
        darkcolor: "darkcolor greydark",
        expiration_date: "__/__",
        security_code: "",
        flipped: false
    }
  },
  components: {
    CardForm,
    Card
  },
  
  created() {
    
    
  },
  methods: {

        showName: function (name) {
            this.name = name;
        },

        showCardNumber: function (card_number) {
            this.card_number = card_number;
            this.updateCard(card_number);
        },

        updateCard: function (card_number) {
            this.$emit('update', card_number);
        },

        showExpirationDate: function (expiration_date) {
            this.expiration_date = expiration_date;
        },

        showSecurityCode: function (security_code) {
            this.security_code = security_code;
        },

        flipFront: function () {
            this.flipped = false;
        },

        updateLittleCard: function (card) {
            this.card_image = card.cardType + ".svg";
        }



  }
  
})
</script>



<style scoped>

    .container {
        width: 100%;
        max-width: 400px;
        display: inline-block;
        max-height: 251px;
        height: 54vw;
        padding: 20px;
    }


</style>
