<template>

    <form @submit.prevent="addCard">
        <div class="form-container">
            <div class="field-container">
                <label for="name">Titular</label>
                <input id="name" v-on:focus="flipFront" v-on:input="sendName" v-model="name" maxlength="20" type="text">
            </div>
            <div class="field-container">
                <label for="cardnumber">Número do Cartão</label>
                <div>
                <input id="cardnumber" maxlength="19" v-on:input="sendCardNumber" v-model="card_number" type="text">
                <img id="ccicon" class="ccicon" :src="'/images/cards/'+image"/>
                </div>
            </div>
            <div class="field-container">
                <label for="expirationdate">Data de Validade (mm/yy)</label>
                <input id="expirationdate" maxlength="5" v-on:input="sendExpirationDate" v-model="expiration_date" type="text">
            </div>
            <div class="field-container">
                <label for="securitycode">Código de Segurança</label>
                <input id="securitycode" maxlength="3" v-on:input="sendSecurityCode" v-model="security_code" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
             <div class="field-container">
                <input type="submit" value="Inserir"/>
            </div>
        </div>
    </form>

</template>

<script lang="ts">

import Vue from 'vue'
import { CardService } from '../../services/CardService';


export default Vue.extend({

  props: {
    image: String
  },
  data () {
    return {
        cardValidation: null,
        name: "",
        card_number: "",
        expiration_date: "",
        security_code: "",
        index: 0
    }
  },
  components: {
    
  },
  
  created() {
        
  },
  methods: {

    addCard : function() {

        this.$validator.validateAll().then((result : any) => {
            if(!result) return;

            CardService.getInstance().addCard({"Cardholder": this.name, "SecurityCode": this.security_code, "ExpireDate": this.expiration_date, "CardNumber": this.card_number.replace(/ /g, "")}).subscribe((data: any, err: any) => {
                    if(err) return;

                    if (data) {
                        this.$router.go();
                    }

            });

        });
    },

    flipFront: function () {
        this.$emit('flipFront');
    },

    sendName: function () {
        this.$emit('name', this.name);
    },

    sendCardNumber: function () {
        if (this.card_number.length == (4*(this.index+1)+this.index)) {
            this.card_number = this.card_number + " ";
            this.index++;
        }
        this.$emit('card_number', this.card_number);
    },

    sendExpirationDate: function () {
        if (this.expiration_date.length == 2) {
            this.expiration_date = this.expiration_date + "/";
        }
        this.$emit('expiration_date', this.expiration_date);
    },

    sendSecurityCode: function () {
        this.$emit('security_code', this.security_code);
    },

    
  }
  
})
</script>


<style scoped>


.ccicon {
    height: 38px;
    position: relative;
    right: -144px;
    top: -44px;
    width: 60px;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.form-container .field-container:nth-of-type(5) {
    grid-area: button;
}


.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security""button button";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
}

input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

</style>
