<template>

    <div @click="flipCard" :class="cardClass">
            
        <div class="front">
            <div v-show="!cardFlipped" id="ccsingle"><img :src="'/images/cards_logos/'+icon"></div>
            <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                <g id="Front">
                    <g id="CardBackground">
                        <g id="Page-1_1_">
                            <g id="amex_1_">
                                <path id="Rectangle-1_1_" :class="lightcolor" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40C0,17.9,17.9,0,40,0z" />
                            </g>
                        </g>
                        <path :class="darkcolor" d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z" />
                    </g>
                    <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber" class="st2 st3 st4">{{ card_number }}</text>
                    <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st2 st5 st6">{{ name }}</text>
                    <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">nome cartão</text>
                    <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">validade</text>
                    <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">número cartão</text>
                    <g>
                        <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire" class="st2 st5 st9"> {{ expiration_date }}</text>
                        <text transform="matrix(1 0 0 1 479.3848 417.0097)" class="st2 st10 st11">VÁLIDO</text>
                        <text transform="matrix(1 0 0 1 479.3848 435.6762)" class="st2 st10 st11">ATÉ</text>
                        <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9" />
                    </g>
                    <image x="10" y="20" width="95%" height="95%" xlink:href="/images/chip.svg" />
                </g>
                <g id="Back">
                </g>
            </svg>
        </div>
        <div class="back">
            <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                <g id="Front">
                    <line class="st0" x1="35.3" y1="10.4" x2="36.7" y2="11" />
                </g>
                <g id="Back">
                    <g id="Page-1_2_">
                        <g id="amex_2_">
                            <path id="Rectangle-1_2_" :class="darkcolor" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                    C0,17.9,17.9,0,40,0z" />
                        </g>
                    </g>
                    <rect y="61.6" class="st2" width="750" height="78" />
                    <g>
                        <path class="st3" d="M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5
                C707.1,246.4,704.4,249.1,701.1,249.1z" />
                        <rect x="42.9" y="198.6" class="st4" width="664.1" height="10.5" />
                        <rect x="42.9" y="224.5" class="st4" width="664.1" height="10.5" />
                        <path class="st5" d="M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z" />
                    </g>
                    <text transform="matrix(1 0 0 1 621.999 227.2734)" id="svgsecurity" class="st6 st7">{{ security_code }}</text>
                    <g class="st8">
                        <text transform="matrix(1 0 0 1 518.083 280.0879)" class="st9 st6 st10">cód. segurança</text>
                    </g>
                    <rect x="58.1" y="378.6" class="st11" width="375.5" height="13.5" />
                    <rect x="58.1" y="405.6" class="st11" width="421.7" height="13.5" />
                    <text transform="matrix(1 0 0 1 59.5073 228.6099)" id="svgnameback" class="st12 st13">{{ name }}</text>
                </g>
            </svg>
        </div>
    </div>



</template>

<script lang="ts">

import Vue from 'vue'

import { Collection } from "@/patterns/Iterator/Collection";
import { CardValidation } from "@/models/CardValidation";

export default Vue.extend({

  props: {
      name: String,
      card_number: String,
      expiration_date: String,
      security_code: String,
      flipped: Boolean
    },

  data () {
    return {
       cardClass: "creditcard",
       cardFlipped: this.flipped,
        icon: "empty.svg",
        lightcolor: "lightcolor grey",
        darkcolor: "darkcolor greydark",
    }
  },
  components: {
    
  },
  
  created() {
    
    this.initializeMasks();
    this.update(this.card_number);
    this.$parent.$on('update', this.update);

  },
  methods: {

        initializeMasks: function () {
            let collection : Collection<CardValidation> = new Collection<CardValidation>();
            collection.add({regex : /^3[47]\d{0,13}/ , cardType: "amex", image: "amex_single.svg", lightcolor: "lightcolor green", darkcolor: "darkcolor greendark"} as CardValidation);
            collection.add({regex : /^(?:6011|65\d{0,2}|64[4-9]\d?)\d{0,12}/ , cardType: "discover", image: "discover_single.svg", lightcolor: "lightcolor purple", darkcolor: "darkcolor purpledark"} as CardValidation);
            collection.add({regex : /^3(?:0([0-5]|9)|[689]\d?)\d{0,11}/ , cardType: "diners", image: "diners_single.svg", lightcolor: "lightcolor orange", darkcolor: "darkcolor orangedark"} as CardValidation);
            collection.add({regex : /^(5[1-5]\d{0,2}|22[2-9]\d{0,1}|2[3-7]\d{0,2})\d{0,12}/ , cardType: "mastercard", image: "mastercard_single.svg", lightcolor: "lightcolor lightblue", darkcolor: "darkcolor lightbluedark"} as CardValidation);
            collection.add({regex : /^(?:2131|1800)\d{0,11}/ , cardType: "jcb15", image: "jcb_single.svg", lightcolor: "lightcolor red", darkcolor: "darkcolor reddark"} as CardValidation);
            collection.add({regex : /^(?:35\d{0,2})\d{0,12}/ , cardType: "jcb", image: "jcb_single.svg", lightcolor: "lightcolor red", darkcolor: "darkcolor reddark"} as CardValidation);
            collection.add({regex : /^(?:5[0678]\d{0,2}|6304|67\d{0,2})\d{0,12}/ , cardType: "maestro", image: "maestro_single.svg", lightcolor: "lightcolor yellow", darkcolor: "darkcolor yellowdark"} as CardValidation);
            collection.add({regex : /^4\d{0,15}/ , cardType: "visa", image: "visa_single.svg", lightcolor: "lightcolor lime", darkcolor: "darkcolor limedark"} as CardValidation);
            collection.add({regex : /^62\d{0,14}/ , cardType: "unionpay", image: "unionpay_single.svg", lightcolor: "lightcolor cyan", darkcolor: "darkcolor cyandark"} as CardValidation);
            this.cardValidation = collection;
        },

       verifyCard: function (value) {
            const validation = this.cardValidation as Collection<CardValidation>;
            const iterator = validation.createIterator();
            const number = value as string;

            while (iterator.hasNext()) {
                let mask = iterator.next();
                if (number.match(mask.regex)) {
                    return mask;
                }
            }

            return {regex : /^/ , cardType: "empty", image: "empty.svg", lightcolor: "lightcolor grey", darkcolor: "darkcolor greydark"} as CardValidation;

        },


        update: function(value) {
            const card = this.verifyCard(value);
            this.icon = card.image;
            this.lightcolor = card.lightcolor;
            this.darkcolor = card.darkcolor;
            this.$emit('card', card);            
        },

      flipCard: function() {

          if (this.cardFlipped) {
              this.cardClass = "creditcard";
              this.cardFlipped = false;
          } else {
              this.cardClass = "creditcard flipped";
              this.cardFlipped = true;
          }

      }
    
  }
  
})
</script>


<style scoped>


.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}


.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}



/* CARDS */


#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}



#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}




.lightcolor, .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.lightblue {
    fill: #03A9F4;
}

.lightbluedark {
    fill: #0288D1;
}

.red {
    fill: #ef5350;
}

.reddark {
    fill: #d32f2f;
}

.purple {
    fill: #ab47bc;
}

.purpledark {
    fill: #7b1fa2;
}

.cyan {
    fill: #26c6da;
}

.cyandark {
    fill: #0097a7;
}

.green {
    fill: #66bb6a;
}

.greendark {
    fill: #388e3c;
}

.lime {
    fill: #d4e157;
}

.limedark {
    fill: #afb42b;
}

.yellow {
    fill: #ffeb3b;
}

.yellowdark {
    fill: #f9a825;
}

.orange {
    fill: #ff9800;
}

.orangedark {
    fill: #ef6c00;
}

.grey {
    fill: #bdbdbd;
}

.greydark {
    fill: #616161;
}



/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


#ccsingle {
    position: absolute;
    right: 15px;
    width: 100px;
    max-height: 60px;
    top: 20px;
}


</style>
