<template>
    <div>


        <b-tabs size="is-small">
            <b-tab-item label="Meus Cartões" icon="money-bill">
                
                <div class="cardsList" v-for="card in getCards" v-bind:key="card.id">
                    <Card class="card" v-bind:flipped="false" v-bind:name="card.cardholder" v-bind:card_number="card.cardNumber.substring(0,4) + ' ' + card.cardNumber.substring(4, 8) + ' ' + card.cardNumber.substring(8, 12) + ' ' + card.cardNumber.substring(12, 16) " v-bind:expiration_date="card.expireDate" v-bind:security_code="card.securityCode" />
                </div>

                <br>
                <div class="pagination">
                    <b-pagination 
                        :total="cards.length"
                        :current.sync="current"
                        :per-page="perPage"
                        simple
                    />
                </div>

            </b-tab-item>
            <b-tab-item label="Adicionar Cartão" icon="credit-card">
                
                 <CardPage />

            </b-tab-item>

        </b-tabs>

    </div>
</template>


<script lang="ts">
import Vue from 'vue'

import { CardService } from '@/services/CardService'
import Card from "./Card.vue";
import CardPage from "./CardPage.vue";


export default Vue.extend({

    data() {
        return {
            current: 1,
            perPage: 1,
            cards : []
        }
    },
    metaInfo: {
        title : "Abelhinha - Cartões"
    },

    components: {
        Card,
        CardPage
    },
  

    methods: {
        
    },
    computed : {
        getCards() {
            const initVal = (this.current-1)  * this.perPage;
            const endVal = initVal + this.perPage;
            return this.cards.slice(initVal, endVal);
        }
    },
    
    created() {

        const loadingComponent = this.$buefy.loading.open();

        CardService.getInstance().getAllCards().subscribe((data) => {

        loadingComponent.close();
        if(data) {
            this.cards = data as [];
        }
        })

    }
    
})
</script>


<style scoped>

    .cardsList {
        margin-bottom: 250px;
        text-align: center;
    }

    .card {
        display: inline-block;
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

</style>