<template>
    <div class="popup">
        <div class="p-icon">
            <b-icon icon="car-side" size="is-medium"> </b-icon>
        </div>
        <div v-if="car">
            <p>{{car.brand}} {{car.model}}</p>
            <p><strong>Preço/min: </strong>{{car.rentPrice}}€</p>
        </div>
        <div class="btn">
            <b-button type="is-primary" icon-left="greater-than" @click="goCar(car.id)"> </b-button>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .p-icon>span{

        margin-right: 10px;
    }
    .popup {
        display: flex;
        align-items: center;
    }
    .btn {
        button {
            margin-left: 20px;
        }
    }
</style>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
    props : [
        'car'
    ]
})
export default class CarPopup extends Vue {

    constructor() {
        super();
    }

    goCar(id: number): void {
        this.$router.push({ name: "car", params : { "id" : String(id) }});
    }
    
}
</script>