<template>
  <div class="view">
      <div class="right-bar">
        <div>
          <b-button @click="goCurrentPos" size="is-medium" icon-left="map-marker-alt"></b-button>
        </div>
        <div>
          <b-button @click="doZoom(false)" size="is-medium" icon-left="plus"></b-button>
        </div>
        <div>
          <b-button @click="doZoom(true)" size="is-medium" icon-left="minus"></b-button>
        </div>
      </div>
      <l-map style="height: 100%; width: 100%" :zoomControl="false" :zoom="zoom" :center="center" ref="map">
        <l-marker v-if="currentPosition"  :lat-lng="currentPosition" >
          <l-icon>
            <img src="@/assets/images/location-pin.png" alt="">
          </l-icon>
        </l-marker>
       
        <l-marker 
          :v-if="vehicles.length > 0" 
          v-for="(vehicle, vindex) in vehicles" 
          v-bind:key="vindex" 
          :lat-lng="toLatLang(vehicle.position.latitude, vehicle.position.longitude)"
          
        >        
          <l-icon
            :icon-size="[27,32]"
          >
            <img src="@/assets/images/Abelha32.png" alt="">
          </l-icon>
          <l-popup :options="carPopup"><car-popup :car="vehicle"/></l-popup>
        </l-marker>
        <l-tile-layer :url="url"></l-tile-layer>

      </l-map>
  </div>
</template>

<style lang="scss">
 .car-popup{
    .leaflet-popup-content-wrapper  {
      transform: translate(-1px ,-15px);
      //border: 1px solid rgba($color: #000000, $alpha: 0.1);
      background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%), #fdfbfb !important;
      p {
        margin: 0;
      }

      .leaflet-popup-content {
        margin: 5px;
      }

      h1,h2,h3,h4,h5 {
        margin:0;
      }
    }

    padding: 0;

    .leaflet-popup-tip-container {
      transform: translate(-1px, -15px);
     // display: none;
    }


  }
</style>

<style lang="scss" scoped>
  .view {
    position: relative;
  }
  .right-bar {
    position: absolute;
    
    top: 10px;
    right: 5px;
    z-index: 10000000;

    div {
      margin-bottom: 10px;
    }
  }

 
</style>

<script lang="ts">

import Vue from 'vue'
import { GeoService } from '@/services/GeoService'
import { VehicleService } from '@/services/VehicleService'
import { VehicleModel } from '@/models'
import { PusherService } from '@/services/PusherService'

import {LMap, LTileLayer, LMarker, LIcon, LPopup} from 'vue2-leaflet';
import { LatLng, LatLngTuple } from 'leaflet';
import  CarPopup  from "@/views/Authenticated/CarPopup.vue";

declare var L : any;




export default Vue.extend({

  data () {
    return {
      url: 'https://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga',
      zoom: 12,
      center: [32.6656799, -16.9254704],
      currentPosition: (null as any),
      vehicles : [],
      carPopup : {
        closeButton: false,
        className: "car-popup"
      }
    }
  },
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LIcon,
    LPopup,
    CarPopup
   // MobileNav
  },
  metaInfo : {
    title : "Abelhinha - Mapa"
  },
  beforeCreate() {
    
  },
  created() {

    this.rmDefaultZoomControl();
    this.goCurrentPos();
    this.initNotification();

    this.getVehicles();
    setInterval(this.getVehicles,10000);
    
    
  },

  beforeDestroy() {
    this.endNotifications();
  },
  methods: {

    getVehicles() {
      VehicleService.getInstance().getAll().subscribe((data) => {
        if(data) {
          this.vehicles = data as [];
        }
      })
    },

  

    initNotification() {
      const pusher = PusherService.getInstance();

      const channel = pusher.subscribe("notifications");

      channel.bind("car-available", (context, data) => {
        console.log(context);
        this.carAvailable(data);
      });


    },

    carAvailable(data : any) {

      console.log(data);

      this.$buefy.toast.open("Novo carro disponivel!"); 

    },
    endNotifications() {
      const pusher = PusherService.getInstance();
      pusher.unsubscribe("notifications");
    },

    icon() {
      return L.icon({
      iconUrl: require('@/assets/images/Abelha48.png'),
      iconSize: [40, 40],
      iconAnchor: [20, 20]
    })
    },

    toLatLang(latitude: number, longitude: number) : LatLngTuple {
      return [latitude, longitude];
    },

    rmDefaultZoomControl() : void {
      this.$nextTick(() => {
        (this.$refs.map as any)['mapObject'].zoomControl.remove();
      });
    },

    doZoom(out: boolean) : void {
      
      this.$nextTick(() => {

        if(out) {
          (this.$refs.map as any)['mapObject'].zoomOut();
        } else {
          (this.$refs.map as any)['mapObject'].zoomIn();
        }
          
      });
    },


    goCurrentPos() : void {
      GeoService.getInstance()
      .getUserPos()
      .subscribe((data, err) => {
        
        if(err) {
          this.$buefy.dialog.alert("Ocorreu um erro a obter a sua localização");
        }
        
        if(data) {
          const pos = [data.latitude, data.longitude];
          this.currentPosition = pos;

          this.$nextTick(() => {
            (this.$refs.map as any)['mapObject'].panTo(pos);
          });
        }

      });

    },


  }
  
})
</script>

