<template>
    <div class="view">
        <h1 class="subtitle is-4">Pagamentos</h1>
        <div v-if="payments">
        <div  class="box" v-for="payment in payments" v-bind:key="payment.id">
            <div class="media">
                <div class="media-left is-hidden-mobile">
                    <img :src="payment.rental.vehicle.image" style="max-height:120px">
                </div>
                <div class="media-content">
                    <p><strong>Carro:</strong> {{payment.rental.vehicle.brand}} {{payment.rental.vehicle.model}}</p>
                    <p><strong>Alugado de </strong> {{ prettyDate(payment.rental.startDate) }} <strong>até</strong> {{prettyDate(payment.rental.endDate)}}</p>
                    <p><strong>Preço:</strong> {{payment.price}}€</p>
                    <p><strong>Estado:</strong> {{payment.status}}</p>
                </div>
                
            </div>
            <div >
                <b-button v-on:click="payRental(payment.id)" type="is-primary">Pagar</b-button>
            </div>
        </div>

         <b-pagination 
            :total="payments.length"
            :current.sync="current"
            :per-page="perPage"
         />
        </div>
        <div v-else-if="typeof payments == 'array' && payments.length == 0"  class="msg-container">
            <div class="msg">
                Não existem pagamentos, que tal fazer um <router-link to="/">aluguer</router-link> ?
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .view {
        padding: 20px;
    }

    .msg {
        border-radius: 5px;
        border: 2px dashed rgba($color: #000000, $alpha: 0.1);
        padding: 50px 10px;
        text-align: center;
        vertical-align:middle;
    }
</style>

<script lang="ts">
import Vue from 'vue'
import { RentalService } from '@/services/RentalService'
import { PaymentService } from '@/services/PaymentService'
import { RentalModel } from '@/models/Rental'

export default Vue.extend({

    data() {
        return {
            current: 1,
            perPage: 10,
            payments : null
        }
    },
    metaInfo: {
        title: "Abelhinha - Pagamentos"
    },
    methods: {
        prettyDate(timestamp) : string {
            let date = new Date(timestamp);
            return `${ date.toLocaleString() }`;
        },

        payRental: function(paymentID) {
            this.$router.push({name: "paymentDetails", params: {id: paymentID}});
        }
    },
    computed : {
        rentals() {
            const initVal = (this.current-1)  * this.perPage;
            const endVal = initVal + this.perPage;
            return this.payments.slice(initVal, endVal);
        }
    },
    created() {

        const loadingComponent = this.$buefy.loading.open();

        PaymentService
        .getInstance()
        .getAll()
        .subscribe((data) => {

            loadingComponent.close();
            if(data) {
                this.payments = data as [];
            }
        })
        
  }
    
})
</script>