<template>
    <div class="view">
        <br>
        <h1 class="subtitle is-4">Detalhes da Reserva</h1>
        <div>
            <h1 class="subtitle is-5" >{{ car }}</h1>
            <div class="container-fluid">
                <p><strong>Tempo: </strong> {{ timeUsed }} minutos</p>
                <p><strong>Preço/min: </strong> {{ pricePerMinute }}€</p>
                <p><strong>Preço Total:</strong> {{ timeUsed * pricePerMinute }} €</p>
            </div>
            <div class="cardsBox">
                Escolha o cartão em que deseja pagar.<br>

                <b-select v-model="cardId" placeholder="Escolha o cartão">
                    <option v-for="card in cards" v-bind:key="card.id" :value="card.id">{{ card.cardNumber.substring(0,4) + ' ' + card.cardNumber.substring(4, 8) + ' ' + card.cardNumber.substring(8, 12) + ' ' + card.cardNumber.substring(12, 16) }}</option>
                </b-select>

            </div>
            <br>
            <div class="is-pulled-left buttons">
                <b-button @click="finishRental" type="is-danger">Pagar</b-button>
            </div>
            
        </div>
    </div>
</template>

<style lang="scss" scoped>
    
    .view{
        overflow-x: hidden;
        padding: 0 10px;
    }
</style>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { CardService } from '@/services/CardService'
import { PaymentService } from '@/services/PaymentService'



@Component({
    data: function() {
        return {
            cards: [],
            car: "",
            timeUsed: 0,
            pricePerMinute: 0,
            paymentId: 0,
            cardId: 0
        }
    },
    components: {
        
    },


    created() {

        const loadingComponent = this.$buefy.loading.open();

        CardService.getInstance().getAllCards().subscribe((data) => {

            if(data) {
                this.cards = data as [];
            }
        })

        PaymentService.getInstance().get(this.$route.params.id).subscribe((data) => {

            loadingComponent.close();
            if(data) {
                this.cardId = this.cardId;
                this.paymentId = data[0].id;
                this.car = data[0].rental.vehicle.brand + " " + data[0].rental.vehicle.model;
                this.timeUsed = Math.floor(((Date.parse(data[0].rental.endDate) - Date.parse(data[0].rental.startDate))/1000)/60);
                this.pricePerMinute = data[0].rental.vehicle.rentPrice;
            }
        })

    }

})
export default class PaymentDetails extends Vue {

    private paymentId : number;
    private cardId : number;

    finishRental() {

        const loadingComponent = this.$buefy.loading.open({});
        PaymentService.getInstance().finishPayment(this.paymentId, this.cardId).subscribe((data) => {
            loadingComponent.close();
            
                this.$router.push('/dashboard');
            
        })
    }



}
</script>


<style scoped>

    .cardsBox {
        margin-top: 40px;
        margin-bottom: 20px;
    }

</style>