<template>
    <div class="view">
        <br>
        <h1 class="subtitle is-4">Aluguer Atual</h1>
        <div v-if="rental">
            <l-map :options="mapOptions" style="height: 200px; width: 100%" ref="map">
                <l-tile-layer :url="tile"></l-tile-layer>
                <l-marker 
                    :lat-lng="toLatLang(rental.vehicle.position.latitude, rental.vehicle.position.longitude)"
                >
                     <l-icon
                        :icon-size="[27,32]"
                    >
                        <img src="@/assets/images/Abelha32.png" alt="">
                    </l-icon>
                </l-marker> 
            </l-map>
            <br>
            <h1 class="subtitle is-5" >{{rental.vehicle.brand}} {{rental.vehicle.model}}</h1>
            <div class="container-fluid">
                <p><strong>Matricula: </strong> {{rental.vehicle.license}}</p>
                <p><strong>Combustivel: </strong> {{rental.vehicle.fuelType}}</p>
                <p><strong>Lugares:</strong> {{rental.vehicle.seats}}</p>
                <p><strong>Cor:</strong> {{rental.vehicle.color}}</p>
                <p><strong>Potência:</strong> {{rental.vehicle.horsePower}}cv</p>
                <p><strong>Já gastou:</strong> <b-tag size="is-medium"> {{rental.currentPrice}}€</b-tag></p>
            </div>
            <br>
            <div class="is-pulled-right buttons">
                <b-button @click="goBack">Voltar</b-button>
                <b-button @click="finishRentClick" type="is-danger">Terminar Aluguer</b-button>
            </div>
            
        </div>
    </div>
</template>

<style lang="scss" scoped>
    
    .view{
        overflow-x: hidden;
        padding: 0 10px;
    }
</style>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { RentalService } from '../../services/RentalService'
import { RentalModel } from '../../models/Rental'
import { DialogConfig } from 'buefy/types/components'

import {LMap, LTileLayer, LMarker, LIcon, LPopup} from 'vue2-leaflet';
import { LatLng, LatLngTuple } from 'leaflet';


@Component({
    data: function() {
        return {
            rental : null,
            tile: "https://mt0.google.com/vt/lyrs=m&hl=en&x={x}&y={y}&z={z}&s=Ga",
            mapOptions: {
                zoom: 15,
                zoomControl: false,
                dragging: false,
                boxZoom: false,
                doubleClickZoom: false,
                scrollWheelZoom: false
            },
        }
    },
    components: {
        LMap,
        LTileLayer,
        LMarker,
        LPopup,
        LIcon
    },
    metaInfo: {
        title: "Abelhinha - Aluguer"
    }
})
export default class Rent extends Vue {

    private rental : RentalModel;

    created() {
        this.getRental();

    }

    goBack() {
        this.$router.back();
    }

    finishRentClick() {

        this.$buefy.dialog.confirm({
            title: "Terminar Aluguer",
            message : "Tem a certeza que pretende terminar o aluguer do veículo?",
            hasIcon: true,
            cancelText: "Não",
            confirmText: "Sim",
            onConfirm: this.finishRent,
            animation: "zoom-out",
            icon : "exclamation-triangle"
        } as DialogConfig);

    }

    finishRent() {
        RentalService
        .getInstance()
        .finishRent()
        .subscribe((data, err) => {
            if(err) {
                return
            }

            if(data) {
                this.$emit("rent", false);
                this.$router.push({name: "paymentDetails" , params: { id:  data.paymentID}});
            }
        });
    }

    

    getRental() : void {
        const loading = this.$buefy.loading.open({});
        RentalService
        .getInstance()
        .getCurrent()
        .subscribe((data,err) => {
            loading.close();
            if(err) {

                this.$router.back();
            }

            if(data) {
                this.rental = data;
                console.log([data.vehicle.position.latitude, data.vehicle.position.longitude]);

                this.$nextTick(() => {
                    (this.$refs.map as any)['mapObject'].panTo([data.vehicle.position.latitude, data.vehicle.position.longitude]);
                })
               
                
                
                console.log(data);
            }

        })
    }

    toLatLang(latitude: number, longitude: number) : LatLngTuple {
      return [latitude, longitude];
    }

}
</script>