<template>
  <div id="app">
    <router-view class="router-view"/>
  </div>
</template>

<style lang="scss">

#app{
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.router-view {
  min-height: 100vh;
}

html { overflow-y:scroll; }

@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #F0CF37;
$primary-invert: findColorInvert($primary);

$secondary: darken($primary,20%);
$secondary-invert: findColorInvert($secondary);


$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$tabs-link-active-color:  $text;
$tabs-link-active-border-bottom-color: #fbb040;

@import "~bulma";
@import "~buefy/src/scss/buefy";

</style>
